Source: homebank-wui
Section: python
Priority: extra
Maintainer: Ultra Desu <ultradesu@hexor.ru>
Build-Depends:
 debhelper (>= 9),
 python3,
 python3-debian,
 python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: 2.7

Package: homebank-wui
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends}
Description: WUI for Homebank
 Web User Interface for Homebank
