#!/usr/bin/make -f
# export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_clean:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py clean -a; \
	done;

override_dh_auto_build:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build --force; \
	done;

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install --force --root=$(CURDIR)/debian/homebank-wui --install-layout=deb; \
	done;

